<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head'); -%>

<body>
  <%- include('./partials/navigation'); -%>

    <div class="container-fluid">
      <h1 style='color: white;'>Data Discovery</h1>
    </div>

<%- include('./partials/scripts'); -%>
</body>

</html>
